<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

    <!--
        Master App context
    -->
    <import resource="dao/hibernate/hibernate-beans.xml" />
    <import resource="dao/jdbc/jdbc-beans.xml" />
    
    <import resource="web/web-beans.xml" />
    <import resource="web/dwr-beans.xml" />
    <import resource="aop.xml" />
    <import resource="security/security.xml" />
    
    <jee:jndi-lookup id="dataSource" jndi-name="/jdbc/GdmaDB" resource-ref="true" />
    <bean id="dataSourcePool" class="ie.clients.gdma.util.DataSourcePoolImpl" />
    
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date">
                    <bean class="ie.clients.gdma.util.DateEditor">
                        <property name="format" value="dd-MMM-yyyy"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>    
    
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="alwaysUseMessageFormat" value="true" />
        <property name="basenames">
            <list>
                <value>gdma</value>
            </list>
        </property>
    </bean>
    <bean id="serverUtil" class="ie.clients.gdma.util.ServerUtil">
        <property name="serverDao" ref="serverDao" />
        <property name="tableDao" ref="tableDao" />
        <property name="userAccessDao" ref="userAccessDao" />
        <property name="dataSourcePool" ref="dataSourcePool" />
    </bean>
    <bean id="gdmaFacade" class="ie.clients.gdma.GdmaFacade">
        <property name="serverDao" ref="serverDao" />
        <property name="tableDao" ref="tableDao" />
        <property name="columnDao" ref="columnDao" />
        <property name="connectionTypeDao" ref="connectionTypeDao" />
        <property name="userDao" ref="userDao" />
        <property name="userAccessDao" ref="userAccessDao" />
        <property name="dynamicDao" ref="dynamicDao" />
    </bean>
    
</beans>